<div>
  <kendo-grid [data]="gridData" [style.max-height.px]="gridHeight" [resizable]="true" [scrollable]="'virtual'">
    <kendo-grid-column field="Discontinued" title="Discontinued" width="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox"/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="ProductID" title="ID" width="40">
    </kendo-grid-column>
    <kendo-grid-column field="ProductName" title="Name" width="250">
    </kendo-grid-column>
    <kendo-grid-column field="Category.CategoryName" title="Category">
    </kendo-grid-column>
    <kendo-grid-column field="UnitPrice" title="Price" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="UnitsInStock" title="In stock" width="80">
    </kendo-grid-column>
  </kendo-grid>
</div>
<div>
  <button class="col-6" type="button">Crawl Next Row</button>
  <button class="col-6" type="button">Crawl Next Row</button>
</div>